# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/

# Android / Gradle
android/.gradle/
android/local.properties
**/captures/

# iOS / Flutter generated
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/

# Generated plugin registrants
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

# IDE / OS
.idea/
*.iml
.DS_Store
Thumbs.db
